.header-content h1, h2 {
    font-weight: bold;
}

.header-content {
    margin-bottom: 5em;
}

h1 a {
    color: black;
    text-decoration: none;
}

h1 a:hover {
    color: black;
}

.post-title {
    margin-bottom: 0;
    font-weight: lighter;
}

.post-title a {
    color: black;
    text-decoration: none;
}

.post-meta {
    margin-bottom: 0.5em;
    margin-top: 0;
    color: #b1b1b1;
}

.post {
    margin-bottom: 2em;
}

.post-content {
    font-size: 1.3em;
}
