---
layout: default
disqus: false
archive: false
post_class: post-template
---

<main class="content" role="main">

    <article class="post">
        <header class="post-header">
            {% if page.image %}
            <div class="row">
                <div class="col">
                    <div class="post-image" style="background: url(/assets/images/posts/{{page.image}})">
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col center">
                    <h1 class="post-title">{{ page.title }}</h1>
                    <div class="post-meta">
                        <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
                        {% if page.categories.size > 0 %}
                        {{ page.categories | array_to_sentence_string | prepend: 'on ' }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>

        <section class="post-content">
            <div class="row">
                <div class="col center">
                    {{content}}
                </div>
            </div>
        </section>

    </article>

</main>
